/* Utils */

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.col {
    flex-direction: column;
}

.two-col{
    max-width: 600px;
    margin: 1rem;
}

.three-col {
    max-width: 400px;
    margin: 1rem;
}

@media (max-width: 1030px){

    .two-col{
        max-width: 100%;
    }

    .three-col {
        max-width: 100%;
       
    }
}

.card {
    background: var(--gradient-button);
    border: 1px solid rgba(100, 100, 100, 0.8);
    border-radius: 15px;
    padding: 3rem;
}

.card:hover {
    background: var(--dark-color) ;
}

.container {
    max-width: 1378px;
    margin: 0 auto;
    padding: 0 40px;
}

.text-center {
   text-align: center;
}

.text-light{
    font-weight: 200;
}

.space {
    justify-content: space-between;
}

.start {
    justify-content: start;
}

.evenly {
    justify-content: space-evenly;
}

.gradient-title{
    background-color: white;
    background-image: var(--gradient-title);
    background-size: 100%;
    background-repeat: repeat;

    /* Aquí debajo va la mascara. */
    /* Esto va a hacer que se muestre el gradiente en vez que el color */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.gradient-button{
    background-image: var(--gradient-button);
    padding: 1rem 2rem;
    border: 1px solid rgba(255, 255, 255, 0.177);
    border-radius: 10px;
    margin-top: 1rem;
}


.pt-nav {
    padding-top: 100px;
}

@media(max-width: 600px){

    .pt-nav {
        padding-top: 130px;
    }
}


/* Margins */

.mt-1{
    margin-top: 1rem;
}
.mt-8{
    margin-top: 8rem;
}

.mb-8{
    margin-bottom: 8rem;
}

.m-8{
    margin: 8rem 0;
}

.my-2{
    margin: 2rem 0;
}

/* end Utils */